body {
  margin: 0;
  font-family: "Calibri";
  background-color: #f8f8f8;
}
#wrapper {
  max-width: 1370px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
  justify-content: center;
  padding: 20px 50px;
}

/*****************************************************
                    Steps Header
******************************************************/
#wrapper .steps-wrapper {
  border: 1px solid #e5e5e5;
  padding: 10px;
  flex: 1;
  background-color: #ffffff;
}
#wrapper h1 {
  text-align: center;
  font-weight: normal;
  margin: 26px 0px 12px;
}
#wrapper .step-app > .step-steps {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
#wrapper .step-app > .step-steps > li {
  list-style: none;
  flex: 1;
  cursor: pointer;
  display: block;
  color: #333333;
  text-decoration: none;
}
#wrapper .step-app > .step-steps > li.done {
  padding: 0;
  margin: 0;
}
#wrapper .step-app > .step-steps > li > .step {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#wrapper .step-app > .step-steps > li > .step .title {
  height: 60px;
  width: 100%;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrapper .step-app > .step-steps > li > .step .title p {
  margin: 0;
}
#wrapper .step-app > .step-steps > li.done > .step .title p {
  color: blue;
}
#wrapper .step-app > .step-steps > li > .step .bullet {
  position: relative;
  background-color: lightgrey;
  color: grey;
  height: 30px;
  width: 30px;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  border: none;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
#wrapper .step-app > .step-steps > li.done > .step .bullet,
#wrapper .step-app > .step-steps > li.active > .step .bullet {
  background-color: rgb(9, 9, 122);
  color: white;
  transition: all 0.6s;
}
#wrapper .step-app > .step-steps > li.done > .step .bullet:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  height: 3px;
  width: 80px;
  background-color: rgb(9, 9, 122);
  transform-origin: left;
  animation: animate 0.6s;
}
#wrapper .step-app > .step-steps > li:last-child > .step .bullet:after {
  display: none;
}
#wrapper .step-app > .step-steps > li.error > .step > .bullet {
  background-color: #e7505a;
  color: white;
}
#wrapper .step-app > .step-steps > li > .step .bullet .check {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
#wrapper .step-app > .step-steps > li.done > .step .bullet span {
  display: none;
}
#wrapper .step-app > .step-steps > li.done > .step .bullet .check {
  display: block;
}
@keyframes animate {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
/*****************************************************
                    Steps Content
******************************************************/
#wrapper .step-app > .step-content {
  border: 1px solid #e5e5e5;
  padding: 10px;
  margin-top: 10px;
}
#wrapper .step-app > .step-content > .step-tab-panel {
  display: none;
}
.step-app > .step-content > .step-tab-panel .legal-form {
  display: block;
}

.step-app > .step-content > .step-tab-panel .individual-form {
  display: none;
}

.step-app > .step-content > .step-tab-panel .options {
  margin: 24px 0;
  display: flex;
  gap: 1rem;
}
.step-content > .step-tab-panel .options .field {
  position: relative;
  z-index: 9;
}
.step-content > .step-tab-panel .options .field input[type="radio"] {
  position: absolute;
  visibility: hidden;
}
.step-content > .step-tab-panel .options .field label {
  cursor: pointer;
  margin-left: 1.5rem;
  -webkit-transition: all 0.25s linear;
}
.step-content > .step-tab-panel .options .field:hover label {
  color: rgb(9, 9, 122);
}
.step-content > .step-tab-panel .options .field .custom-radio {
  position: absolute;
  border: 2px solid #aaaaaa;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  transition: border 0.25s linear;
  -webkit-transition: border 0.25s linear;
}

.step-content > .step-tab-panel .options .field:hover .custom-radio {
  border: 2px solid rgb(9, 9, 122);
  display: flex;
}

.step-content > .step-tab-panel .options .field .custom-radio::before {
  display: block;
  position: absolute;
  content: "";
  border-radius: 100%;
  height: 8px;
  width: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

.step-tab-panel .options .field input[type="radio"]:checked ~ .custom-radio {
  border: 2px solid rgb(9, 9, 122);
}

.step-tab-panel .options .field input[type="radio"]:checked ~ label {
  color: rgb(9, 9, 122);
}

.step-tab-panel
  .options
  .field
  input[type="radio"]:checked
  ~ .custom-radio::before {
  background-color: rgb(9, 9, 122);
}

.step-app > .step-content > .step-tab-panel form p {
  margin-top: 1rem;
  margin-bottom: 0;
}

.step-app > .step-content > .step-tab-panel form input {
  height: 40px;
  padding: 0px 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid silver;
}
.step-app > .step-content > .step-tab-panel form select {
  height: 40px;
  padding: 0px 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid silver;
}
.step-app > .step-content > .step-tab-panel form select:focus {
  outline: 0;
  box-shadow: none;
  border: 1px solid rgb(9, 9, 122);
}
.step-content > .step-tab-panel form input:focus {
  border: 1px solid rgb(9, 9, 122);
  outline: none;
}
#wrapper .step-app > .step-content > .step-tab-panel.active {
  display: block;
}
#wrapper .step-app > .step-footer {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto;
  align-items: end;
  gap: 8px;
}
#wrapper .step-app > .step-footer > .step-btn {
  width: 100%;
  padding: 13px 16px;
  text-decoration: none;
  background: rgb(9, 9, 122);
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s;
}

#wrapper .step-app > .step-footer > .step-btn:hover {
  box-shadow: 0 0 0 2px white, 0 0 0 3px rgb(9, 9, 122);
}
/* Step 1 */
#wrapper .step-app .step-content .step-tab-panel button.borroweraddbtn {
  padding: 6px 12px;
  background: #28a745;
  outline: none;
  border: 0;
  color: #ffffff;
}
#wrapper
  .step-app
  .step-content
  .step-tab-panel
  #dynamic-borrower-forms
  button.removebtn {
  padding: 6px 12px;
  background-color: #dc3545;
  color: white;
  border: 0;
  outline: none;
  margin-top: 8px;
}
/* Step 2 */
#wrapper .step-app .step-content .step-tab-panel button.lendoraddbtn {
  padding: 6px 12px;
  background: #28a745;
  outline: none;
  border: 0;
  color: #ffffff;
}
#wrapper
  .step-app
  .step-content
  .step-tab-panel
  #dynamic-lendor-forms
  > div:not(:first-child) {
  margin-top: 30px;
  border-top: 1px solid gray;
}
#wrapper
  .step-app
  .step-content
  .step-tab-panel
  #dynamic-lendor-forms
  button.removebtn {
  padding: 6px 12px;
  background-color: #dc3545;
  color: white;
  border: 0;
  outline: none;
  margin-top: 8px;
}

/* Step 3 */
#wrapper .step-app .step-content .step-tab-panel .loan-currency-wrapper {
  display: flex;
  gap: 10px;
}
#wrapper .step-app .step-content .step-tab-panel .loan-currency-wrapper > div {
  width: 100%;
}

/* Step 4 */
#wrapper
  .step-app
  .step-content
  .step-tab-panel
  #recitals-form
  > div:not(:first-child) {
  margin-top: 10px;
}
#wrapper .step-app .step-content .step-tab-panel #recitals-form .recital-row {
  display: flex;
  gap: 10px;
}
#wrapper
  .step-app
  .step-content
  .step-tab-panel
  #recitals-form
  .recital-row
  .input-with-error {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#wrapper
  .step-app
  .step-content
  .step-tab-panel
  #recitals-form
  .recital-row
  button.addbtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(9, 9, 122);
  outline: none;
  border: 0;
}
#wrapper
  .step-app
  .step-content
  .step-tab-panel
  #recitals-form
  .recital-row
  button.removebtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: red;
  outline: none;
  border: 0;
}
#wrapper
  .step-app
  .step-content
  .step-tab-panel
  #recitals-form
  .recital-row
  button
  i {
  color: #ffffff;
}
/* Step 5 */
#wrapper .step-app .step-content .step-tab-panel #dynamic-definition-form hr {
  margin-top: 30px;
}
#wrapper .step-app .step-content .step-tab-panel button.definitionaddbtn {
  padding: 6px 12px;
  background: #28a745;
  outline: none;
  border: 0;
  color: #ffffff;
}
#wrapper
  .step-app
  .step-content
  .step-tab-panel
  #dynamic-definition-form
  button.removebtn {
  padding: 6px 12px;
  background-color: #dc3545;
  color: white;
  border: 0;
  outline: none;
  margin-top: 8px;
}
/*****************************************************
                    Display Section
******************************************************/
#wrapper .display-wrapper {
  border: 1px solid #e5e5e5;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem;
  background-color: #ffffff;
}

#wrapper .display-wrapper .step-content h2.date {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

#wrapper .display-wrapper .step-content .display-steps {
  display: none;
}

#wrapper .display-wrapper .step-content #display-step-0 {
  display: block;
}

#wrapper .display-wrapper .step-content .display-steps .individual-form {
  display: none;
}

#wrapper
  .display-wrapper
  .step-content
  .display-steps
  .display-recitals-inputs {
  margin-top: 20px;
}

#wrapper
  .display-wrapper
  .step-content
  .display-steps
  .display-recitals-inputs
  > div {
  margin: 10px 0;
}

#wrapper .display-wrapper .step-content .display-steps .form-text p {
  font-size: 16px;
  font-weight: 400;
}

#wrapper .display-wrapper .step-content .display-steps .form-text p > span {
  font-size: 16px;
  font-weight: 400;
}

#wrapper .display-wrapper .step-content .display-steps .form-text .form-table {
  display: flex;
  gap: 20px;
}

#wrapper
  .display-wrapper
  .step-content
  .display-steps
  .form-text
  .form-table
  p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

/*****************************************************
                    Media Queries
******************************************************/
@media (max-width: 1080px) {
  #wrapper .step-app > .step-steps > li.done > .step .bullet:after {
    width: 100%;
  }
}
